APP_NAME=Lumen
APP_ENV=local
APP_KEY=FCCE1809-E871-44F5-9D8B-20C786BD84E0
APP_DEBUG=true
APP_URL=http://localhost/
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=mysql.primmvs.com
DB_PORT=3306
DB_DATABASE=primmvs
DB_USERNAME=primmvs
DB_PASSWORD=mano1234

MAIL_DRIVER=smtp
MAIL_HOST=smtp.primmvs.com
MAIL_PORT=587
MAIL_USERNAME=no-replay@primmvs.com 
MAIL_PASSWORD=mano1234
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=no-replay@primmvs.com 
MAIL_FROM_NAME="Cartão Fidelidade"

CACHE_DRIVER=file
QUEUE_CONNECTION=sync